.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (max-width: 400px) {
  .App {
    justify-content: center; 
  }
}
